<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="admin/fragments/sidebar :: head"></head>
    <title id="pageTitle">Szczegóły kina</title>

    <link th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="admin/fragments/sidebar :: sidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Miasto</th>
                                    <th>Ulica</th>
                                    <th>Akcje</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${cinema.id}">Id</td>
                                    <td th:text="${cinema.city}">Tytuł</td>
                                    <td th:text="${cinema.street}">Reżyser</td>
                                    <td>
                                        <a th:href="@{/cinemas/delete/{id}(id=${cinema.id})}">
                                            <i class="fas fa-trash"></i>
                                            Usuń
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/cinemas/edit/{id}(id=${cinema.id})}">
                                            <i class="fas fa-edit"></i>
                                            Edytuj
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary"
                                    th:text="'Ilość sal: '+${#lists.size(auditoriums)}"></h6>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" th:each="auditorium : ${auditoriums}">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" width="100%" cellspacing="0"
                                               th:id="'table'+${auditorium.id}">
                                            <tbody>
                                            <tr th:each="i : ${#numbers.sequence(1,auditorium.seatRowCount)}"
                                                th:value="${i}">
                                                <td th:each="j: ${#numbers.sequence(1,auditorium.seatNumberCount)}"
                                                    th:value="${j}"
                                                    th:id="'_'+${auditorium.id}+'a'+${i}+'n'+${j}">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:include="admin/fragments/footer :: scripts">

</div>
<script th:inline="javascript">
    const allAuditoriumsSeats = JSON.parse(/*[[${allAuditoriumsSeats}]]*/ 'default');
    // let start = 1;
    // allAuditoriumsSeats.forEach(function (el){
    //     el.forEach(function (elem){
    //         let selector = "#_"+start+"a"+elem.row+"n"+elem.number;
    //         document.querySelector(selector).classList.add("bg-success");
    //     })
    //     start++;
    // })
    // const auditoriumsCount = /*[[${auditoriumsCount}]]*/ 'default';
    // for (let i = 0; i < auditoriumsCount; i++) {
    //     for (let j = 0; j < allAuditoriumsSeats[i].length; j++) {
    //         let selector = "#_"+(i+1)+"a"+allAuditoriumsSeats[i][j].row+"n"+allAuditoriumsSeats[i][j].number;
    //         console.log(selector);
    //         document.querySelector(selector).classList.add("bg-success");
    //     }
    // }

        for (let j = 140; j < allAuditoriumsSeats[3].length; j++) {
            let selector = "#_"+4+"a"+allAuditoriumsSeats[3][j].row+"n"+allAuditoriumsSeats[3][j].number;
            console.log(selector);
            document.querySelector(selector).classList.add("bg-success");
        }



</script>
</body>
</html>