<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="admin/fragments/sidebar :: head"></head>
    <title id="pageTitle">Szczegóły kina</title>

    <link th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="admin/fragments/sidebar :: sidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Miasto</th>
                                    <th>Ulica</th>
                                    <th>Akcje</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${cinema.id}">Id</td>
                                    <td th:text="${cinema.city}">Tytuł</td>
                                    <td th:text="${cinema.street}">Reżyser</td>
                                    <td>
                                        <a th:href="@{/cinemas/delete/{id}(id=${movie.id})}">
                                            <i class="fas fa-trash"></i>
                                            Usuń
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/cinemas/edit/{id}(id=${movie.id})}">
                                            <i class="fas fa-edit"></i>
                                            Edytuj
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <p class="mb-4" th:text="${movie.description}">Opis</p>
                        </div>
                        <div class="align-content-center">
                            <img class="img-fluid mx-auto d-block" th:src="@{${movie.posterUrl}}"/>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:include="admin/fragments/footer :: scripts">

</div>

</body>
</html>