<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <head th:replace="main/fragments/header :: head"></head>
    <title id="pageTitle">MovieMax Cinemas</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
</head>

<body>

<nav th:replace="main/fragments/header :: navbar">

</nav>

<header th:replace="main/fragments/header :: mainPageHeader">

</header>

<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="p-2">
                <div class="text-center">
                    <p class="mb-0" th:inline="text">[[${cinema.city}]] [[${cinema.street}]]</p>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <form th:action="@{/change}" method="post">
                            <input class="btn btn-primary" type="submit" value="Zmień kino"/>
                        </form>
                    </div>
                </div>
                <form th:inline="text" th:action="@{/screenings}"
                      class="d-inline justify-content-center" method="get">
                    <div class="form-group">
                        <div class="text-center">
                            <div th:each="date : ${dates}" th:remove="tag">
                                <button class="btn btn-info btn-icon-split m-1"
                                        type="submit"
                                        th:inline="text"
                                        th:value="${date}" name="screeningDate">
                                <span class="icon text-white-50">
                                    <i class="fas fa-calendar-day"></i>
                                </span>
                                    <span class="text" th:text="${#temporals.format(date,'MM-dd')}"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="main/fragments/footer :: footer">

</footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="main/fragments/footer :: scripts">

</div>

</body>

</html>
