<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <head th:replace="main/fragments/header :: head"></head>
    <title id="pageTitle">Repertuar</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
</head>

<body>

<nav th:replace="main/fragments/header :: navbar">

</nav>

<header th:replace="main/fragments/header :: mainPageHeader">

</header>

<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="p-2">
                <form th:action="@{/admin/screenings}" class="d-inline justify-content-center" method="get">
                    <div class="form-group">
                        <div class="text-center">
                            <p>Wybierz kino</p>
                        </div>
                        <select class="form-control" name="cinemaId">
                            <option th:each="cinema : ${cinemas}"
                                    th:inline="text"
                                    th:value="${cinema.id}">
                                [[${cinema.city}]] [[${cinema.street}]]
                            </option>
                        </select>
                    </div>
                    <div class="text-center">
                        <div th:each="date : ${dates}" th:remove="tag">
                            <button class="btn btn-info btn-icon-split m-1"
                                    type="submit"
                                    th:inline="text"
                                    th:value="${date}" name="screeningDate">
                                <span class="icon text-white-50">
                                    <i class="fas fa-calendar-day"></i>
                                </span>
                                <span class="text" th:text="${#temporals.format(date,'MM-dd')}"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section th:each="movie : ${screenings.keySet()}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="p-2">
                    <img class="img-fluid mx-auto d-block" th:src="@{${movie.posterUrl}}" alt="PlakatFilmu"/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-2">
                    <h2 class="text-center text-lg-left display-4" th:text="${movie.title}">Title</h2>
                    <p class="text-center text-lg-left h1" th:text="${movie.genre}+' | '+${movie.duration}+' min'">Genre
                        | Duration min</p>
                    <p class="text-center text-lg-left h2" th:text="${movie.countryOrigin}">Country Origin</p>
                    <p class="text-center text-lg-left" th:text="${movie.description}">description</p>
                </div>
                <form th:action="@{/reservations/new}" method="post"
                      th:each="screening : ${screenings.get(movie)}"
                      th:inline="text"
                      class="d-inline">
                    <input type="hidden" th:value="${screening.id}" name="screeningId">
                    <button class="btn btn-info btn-icon-split m-1" type="submit" th:inline="text">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-clock"></i>
                                                    </span>
                        <span class="text" th:text="${screening.screeningTime}"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="main/fragments/footer :: footer">

</footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="main/fragments/footer :: scripts">

</div>

</body>

</html>
