<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="admin/fragments/sidebar :: head"></head>
    <title id="pageTitle">Zarządzanie seansami</title>

    <link th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="admin/fragments/sidebar :: sidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="form-group">
                            <a class="btn btn-primary" th:href="@{/screenings/all}">
                                <i class="fas fa-list"></i> Pokaż wszystkie seanse w każdym kinie
                            </a>
                        </div>
                        <hr>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Lp</th>
                                <th>Kino</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Lp</th>
                                <th>Kino</th>
                                <th></th>
                                <th></th>

                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="cinema,iterStatus : ${cinemas}">
                                <td th:text="${iterStatus.count}">Lp</td>
                                <td th:text="${cinema.city}+' '+${cinema.street}">Kino</td>
                                <td>
                                    <a th:href="@{/screenings/all/{id}(id=${cinema.id})}">
                                        <i class="fas fa-list"></i> wszystkie seanse
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/screenings/auditoriums/{id}(id=${cinema.id})}">
                                        <i class="fas fa-info-circle"></i> wybierz po sali
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:include="admin/fragments/footer :: scripts"></div>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables-demo.js}"></script>

</body>
</html>