<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="admin/fragments/sidebar :: head"></head>
    <title id="pageTitle">Edycja użytkownika</title>

</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="admin/fragments/sidebar :: sidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Edycja danych</h1>
                        </div>
                        <hr>
                        <div class="form-group">
                            <form th:action="@{/admin/users/edit}" th:object="${user}" method="post" class="user">
                                <input type="hidden" th:value="${user.id}" name="userId"/>
                                <div class="form-group">
                                    <p class="mb-0">Adres email</p>
                                    <input type="email" class="form-control form-control-user"
                                           th:field="*{username}"
                                           placeholder="Wpisz email (po zmianie adresu email zostaniesz wylogowany)"/>
                                    <p class="text-danger" th:each="error: ${#fields.errors('username')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <p class="mb-0">Imię</p>
                                    <input type="text" class="form-control form-control-user"
                                           th:field="*{name}"
                                           placeholder="Wpisz imię"/>
                                    <p class="text-danger" th:each="error: ${#fields.errors('name')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <p class="mb-0">Nazwisko</p>
                                    <input type="text" class="form-control form-control-user"
                                           th:field="*{surname}"
                                           placeholder="Wpisz nazwisko"/>
                                    <p class="text-danger" th:each="error: ${#fields.errors('surname')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-primary btn-user btn-block" type="submit"
                                           value="Potwierdź"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:include="admin/fragments/footer :: scripts">

</div>
</body>
</html>