<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Add a movie</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" type="text/css">
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
</head>
<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Dodawanie Filmu</h1>
                        </div>

                        <div class="form-group">
                            <form th:action="@{/movies/filmweb}" method="get" class="user">
                                <div class="text-center">
                                    <p class="mb-4">Podaj link do konkretnego filmu w serwisie filmweb.pl np.
                                        https://www.filmweb.pl/film/Matrix-1999-628</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user"
                                           th:value="${filmwebUrl}" name="filmwebUrl" placeholder="Link Do Filmweb"/>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-primary btn-user btn-block" type="submit"
                                           value="Wypełnij Formularz Danymi"/>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <form th:action="@{/movies/add}" th:object="${movie}" method="post" class="user">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" th:field="*{title}"
                                           placeholder="Tytuł">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" th:field="*{director}"
                                           placeholder="Reżyser">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" th:field="*{description}"
                                       placeholder="Opis Filmu">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"
                                           th:field="*{countryOrigin}"
                                           placeholder="Kraj Produkcji">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" th:field="*{genre}"
                                           placeholder="Gatunek">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="text-center">
                                        <p>Czas trwania</p>
                                    </div>
                                    <input type="number" class="form-control form-control-user" th:field="*{duration}"
                                           placeholder="Czas Trwania">
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-center">
                                        <p>Link Do Plakatu</p>
                                    </div>
                                    <input type="text" class="form-control form-control-user" th:field="*{posterUrl}"
                                           placeholder="Link Do Plakatu">
                                </div>
                            </div>
                            <div class="form-group align-content-center">
                                <img class="img-fluid mx-auto d-block" th:src="@{${movie.posterUrl}}"/>
                            </div>
                            <input class="btn btn-primary btn-user btn-block" type="submit"
                                   value="Dodaj Film"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery.easing.min.js}"></script>

<script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>