<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:include="admin/fragments/sidebar :: head">
    <title id="pageTitle">Rezerwacja</title>

</head>
<body>
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Nowa Rezerwacja - Dane Osobowe</h1>
                                </div>

                                <div class="form-group">
                                    <form th:action="@{/reservations/fourth}" method="post" class="user">
                                        <div class="text-center">
                                            <p class="mb-4">Podaj imię</p>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   name="userName" id="userName"/>
                                        </div>
                                        <div class="text-center">
                                            <p class="mb-4">Podaj nazwisko</p>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   name="userSurname" id="userSurname"/>
                                        </div>
                                        <div class="text-center">
                                            <p class="mb-4">Podaj email</p>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   name="userEmail" id="userEmail"/>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <input class="btn btn-primary btn-user btn-block" type="submit"
                                                   id="submitButton"
                                                   value="Dalej" disabled/>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:replace="admin/fragments/footer :: scripts">

</div>
<script>
    const userNameInputElement = document.querySelector("#userName");
    const userSurnameInputElement = document.querySelector("#userSurname");
    const userEmailInputElement = document.querySelector("#userEmail");
    const submitButtonElement = document.querySelector("#submitButton");
    userNameInputElement.addEventListener("change", function () {
        if (userNameInputElement && userNameInputElement.value
            && userSurnameInputElement && userSurnameInputElement.value
            && userEmailInputElement && userEmailInputElement.value) {
            submitButtonElement.disabled = false;
        } else {
            submitButtonElement.disabled = true;
        }
    })
    userSurnameInputElement.addEventListener("change", function () {
        if (userNameInputElement && userNameInputElement.value
            && userSurnameInputElement && userSurnameInputElement.value
            && userEmailInputElement && userEmailInputElement.value) {
            submitButtonElement.disabled = false;
        } else {
            submitButtonElement.disabled = true;
        }
    })
    userEmailInputElement.addEventListener("change", function () {
        if (userNameInputElement && userNameInputElement.value
            && userSurnameInputElement && userSurnameInputElement.value
            && userEmailInputElement && userEmailInputElement.value) {
            submitButtonElement.disabled = false;
        } else {
            submitButtonElement.disabled = true;
        }
    })
</script>
</body>
</html>