<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head th:fragment="head" th:remove="tag">

    <title th:include=":: #pageTitle">Layout Generic Title </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">

</head>
<body>

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"  th:fragment="topbar">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name">username</span>
                <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.svg}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Wylogowanie
                </a>
            </div>
        </li>
    </ul>
</nav>

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-video"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MovieMax</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Start</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Zarządzaj
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#cinemasCollapse"
           aria-expanded="true">
            <i class="fas fa-fw fa-film"></i>
            <span>Kina</span>
        </a>
        <div id="cinemasCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Wybierz</h6>
                <a class="collapse-item" th:href="@{/admin/cinemas/list}">Lista</a>
                <a class="collapse-item" th:href="@{/admin/cinemas/add}">Dodaj</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#moviesCollapse"
           aria-expanded="true">
            <i class="fas fa-fw fa-compact-disc"></i>
            <span>Filmy</span>
        </a>
        <div id="moviesCollapse" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Wybierz</h6>
                <a class="collapse-item" th:href="@{/admin/movies/list}">Lista</a>
                <a class="collapse-item" th:href="@{/admin/movies/add}">Dodaj</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#screeningsCollapse"
           aria-expanded="true">
            <i class="fas fa-play-circle"></i>
            <span>Seanse</span>
        </a>
        <div id="screeningsCollapse" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Wybierz</h6>
                <a class="collapse-item" th:href="@{/admin/screenings/types}">Lista</a>
                <a class="collapse-item" th:href="@{/admin/screenings/date}">Dodaj</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reservationsCollapse"
           aria-expanded="true">
            <i class="fas fa-hand-point-up"></i>
            <span>Rezerwacje</span>
        </a>
        <div id="reservationsCollapse" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Wybierz</h6>
                <a class="collapse-item" th:href="@{/admin/reservations/list}">Lista</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#usersCollapse"
           aria-expanded="true">
            <i class="fas fa-users"></i>
            <span>Użytkownicy</span>
        </a>
        <div id="usersCollapse" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Wybierz</h6>
                <a class="collapse-item" th:href="@{/admin/users/list}">Lista</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-home"></i>
            <span>Strona główna</span></a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
</body>
</html>