<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:include="admin/fragments/sidebar :: head">
    <title id="pageTitle">Dodawanie kina</title>

</head>
<body>
<div id="wrapper">
    <ul th:replace="admin/fragments/sidebar :: sidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Dodawanie Kina</h1>
                                </div>

                                <div class="form-group">
                                    <form th:action="@{/cinemas/add}" th:object="${cinema}" method="post" class="user">
                                        <div class="text-center">
                                            <p class="mb-4">Tekst pomocniczy</p>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   th:field="*{city}"
                                                   placeholder="Miasto"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   th:field="*{street}"
                                                   placeholder="Ulica (Np. Aleja Jeziorańskiego 1)"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary btn-user btn-block" type="submit"
                                                   value="Dodaj kino"/>
                                        </div>
                                    </form>
                                </div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:replace="admin/fragments/footer :: scripts">

</div>
</body>
</html>