<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="admin/fragments/sidebar :: head"></head>
    <title id="pageTitle">Szczegóły kina</title>

    <link th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="admin/fragments/sidebar :: sidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                <div class="p-2">
                                    <p class="text-center text-lg-left h1" th:text="${cinema.city}+' | '+${cinema.street}">City | Street</p>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary"
                                    th:text="'Ilość sal: '+${#lists.size(auditoriumsIds)}"></h6>
                            </div>
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    <a th:href="@{/admin/auditoriums/add/{id}(id=${cinema.id})}">
                                        <i class="fas fa-plus-square"></i>
                                        Dodaj nową salę
                                    </a>
                                </h6>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" th:each="auditoriumId,iterStatus : ${auditoriumsIds}">
                                    <a th:href="@{/admin/auditoriums/details/{auditoriumId}(auditoriumId=${auditoriumId})}"
                                       th:inline="text">
                                        Sala [[${iterStatus.count}]] <i class="fas fa-info-circle"></i> Szczegóły</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:include="admin/fragments/footer :: scripts">

</div>
</body>
</html>