<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="admin/fragments/sidebar :: head"></head>
    <title id="pageTitle">Lista kin</title>

    <link th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="admin/fragments/sidebar :: sidebar">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <nav th:replace="admin/fragments/sidebar :: topbar">
        </nav>
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Miasto</th>
                                    <th>Ulica</th>
                                    <th>Akcje</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Miasto</th>
                                    <th>Ulica</th>
                                    <th>Akcje</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="cinema : ${cinemas}">
                                    <td th:text="${cinema.id}">Id</td>
                                    <td th:text="${cinema.city}">Miasto</td>
                                    <td th:text="${cinema.street}">Ulica</td>
                                    <td>
                                        <a th:href="@{/admin/cinemas/details/{id}(id=${cinema.id})}">
                                            <i class="fas fa-edit"></i>
                                            Szczegóły
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/cinemas/delete/{id}(id=${cinema.id})}">
                                            <i class="fas fa-trash"></i>
                                            Usuń
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/cinemas/edit/{id}(id=${cinema.id})}">
                                            <i class="fas fa-edit"></i>
                                            Edytuj
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <footer th:replace="admin/fragments/footer :: footer">

        </footer>
    </div>
</div>

<div th:replace="admin/fragments/footer :: scripts"></div>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables-demo.js}"></script>
</body>
</html>